<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipMan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8577CA3A1E6A7420005D5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8577CA4E1E6A7421005D5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8577CA591E6A7421005D5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
